{% block footer%}
<footer  class="footer footer-fixed">

      <div class="copyright">

        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <p>© Copyright 2022 <span>Regal Tours & Travel LTD</span> &nbsp;&nbsp;|&nbsp;&nbsp; All Rights Reserved</p>
            </div>
            <div class="col-sm-6 text-right">
              <a href="https://www.instagram.com/regaltourstravel/" class="cws-social fa fa-instagram"></a>
              <a href="https://www.facebook.com/RegalToursTravel" class="cws-social fa fa-facebook"></a>
              <a href="https://www.linkedin.com/company/regal-tours-travel-ltd" class="cws-social fa fa-linkedin"></a></div>

            </div>



          </div>
        </div>
      </div>
      <!-- end copyright-->
      <!-- scroll top-->
    </footer>
    <div id="scroll-top"><i class="fa fa-angle-up"></i></div>
{% endblock %}