{% extends "base/base.jinja2" %}

{% block content %}
 <div id="main-div">
<iframe src="https://flight.regal-tours.com" style="position: absolute;
                                                           width: 100%;
                                                           margin-top: -6px;
                                                           height: 100%;
                                                           border: none;
                                                           display: block;
                                                           overflow: hidden;"></iframe>

</div>


{% endblock %}

