{% extends "base/base.jinja2" %}

{% block content %}
    <div class="content-body">
      <div class="container page">
        <!-- tabs section-->
        <div class="element-section mb-100">
          <div class="row">
            <!-- tabs-->
            <div class="col-lg-6 mb-lg-40">
              <div class="tabs">
                <div class="block-tabs-btn clearfix">
                  <div data-tabs-id="tabs1" class="tabs-btn active">About us</div>
                  <div data-tabs-id="tabs2" class="tabs-btn">Our mission</div>
                  <div data-tabs-id="tabs3" class="tabs-btn">Our vision</div>
                </div>
                <!-- tabs keeper-->
                <div class="tabs-keeper">
                  <!-- tabs container-->
                  <div data-tabs-id="cont-tabs1" class="container-tabs active">
                    <h6 class="trans-uppercase">Hotel Bohemians</h6>
                    <p>Duis egestas accumsan ipsum, at volutpat elit imperdiet in. Curabitur lacinia, massa quis elementum bibendum, tellus neque porttitor erat, a ornare enim arcu nec mauris. Morbi ac tristique felis. Praesent cursus placerat risus. Duis ut magna quis sem varius consequat.  </p>
                    <ul class="style-3">
                      <li>Nam molestie dolor id auctor sodales;</li>
                      <li>In sagittis dolor vel turpis aliquet pharetra;</li>
                      <li>Quisque non turpis in dui congue dapibus;</li>
                      <li>Vivamus varius nisl quis dictum maximus;</li>
                      <li>Vestibulum scelerisque ligula quis est faucibus tincidunt.</li>
                    </ul>
                  </div>
                  <!-- /tabs container-->
                  <!-- tabs container-->
                  <div data-tabs-id="cont-tabs2" class="container-tabs">
                    <h6 class="trans-uppercase">Hotel Bohemians</h6>
                    <p>Duis egestas accumsan ipsum, at volutpat elit imperdiet in. Curabitur lacinia, massa quis elementum bibendum, tellus neque porttitor erat, a ornare enim arcu nec mauris. Morbi ac tristique felis. Praesent cursus placerat risus. Duis ut magna quis sem varius consequat.  </p>
                    <ul class="style-3">
                      <li>Nam molestie dolor id auctor sodales;</li>
                      <li>In sagittis dolor vel turpis aliquet pharetra;</li>
                      <li>Quisque non turpis in dui congue dapibus;</li>
                      <li>Vivamus varius nisl quis dictum maximus;</li>
                      <li>Vestibulum scelerisque ligula quis est faucibus tincidunt.</li>
                    </ul>
                  </div>
                  <!-- /tabs container-->
                  <!-- tabs container-->
                  <div data-tabs-id="cont-tabs3" class="container-tabs">
                    <h6 class="trans-uppercase">Hotel Bohemians</h6>
                    <p>Duis egestas accumsan ipsum, at volutpat elit imperdiet in. Curabitur lacinia, massa quis elementum bibendum, tellus neque porttitor erat, a ornare enim arcu nec mauris. Morbi ac tristique felis. Praesent cursus placerat risus. Duis ut magna quis sem varius consequat.  </p>
                    <ul class="style-3">
                      <li>Nam molestie dolor id auctor sodales;</li>
                      <li>In sagittis dolor vel turpis aliquet pharetra;</li>
                      <li>Quisque non turpis in dui congue dapibus;</li>
                      <li>Vivamus varius nisl quis dictum maximus;</li>
                      <li>Vestibulum scelerisque ligula quis est faucibus tincidunt.</li>
                    </ul>
                  </div>
                  <!-- /tabs container-->
                </div>
                <!-- /tabs keeper-->
              </div>
            </div>
            <!-- /tabs-->
            <!-- button section-->
            <div class="col-lg-6">
              <div class="element-section">
                <div class="row">
                  <div class="col-sm-4 col-xs-6">
                    <div><a href="#" class="cws-button small alt mb-20">Button</a></div>
                    <div><a href="#" class="cws-button small mb-20">Button</a></div>
                    <div><a href="#" class="cws-button small alt gray mb-20">Button</a></div>
                    <div><a href="#" class="cws-button small alt gray-dark mb-20">Button</a></div>
                  </div>
                  <div class="col-sm-4 col-xs-6 ml-minus-20">
                    <div><a href="#" class="cws-button alt mb-20">Button</a></div>
                    <div><a href="#" class="cws-button mb-20">Button</a></div>
                    <div><a href="#" class="cws-button alt gray mb-20">Button</a></div>
                    <div><a href="#" class="cws-button alt gray-dark mb-20">Button</a></div>
                  </div>
                  <div class="col-sm-4 ml-20">
                    <div><a href="#" class="cws-button border-left large alt mb-20">Button</a></div>
                    <div><a href="#" class="cws-button border-left large mb-20">Button</a></div>
                    <div><a href="#" class="cws-button border-left large alt gray mb-20">Button</a></div>
                    <div><a href="#" class="cws-button border-left large alt gray-dark mb-20">Button</a></div>
                  </div>
                </div>
              </div>
              <hr class="mt-0 mb-0">
            </div>
            <!-- ! button section-->
          </div>
        </div>
        <!-- ! tabs section-->
        <!-- heading section-->
        <div class="element-section mb-100">
          <div class="row">
            <div class="col-md-6 trans-uppercase font-2">
              <h1 class="mt-0 mb-20">Heading H1 - 43px</h1>
              <h2 class="mt-0 mb-20">Heading H2 - 37px</h2>
              <h3 class="mt-0 mb-20">Heading H3 - 31px</h3>
              <h4 class="mt-0 mb-20">Heading H4 - 26px</h4>
              <h5 class="mt-0 mb-20">Heading H5 - 20px</h5>
              <h6 class="mt-0 mb-20">Heading H6 - 16px</h6>
            </div>
            <div class="col-md-6 font-2">
              <h1 class="mt-0 mb-20">Heading H1 - 43px</h1>
              <h2 class="mt-0 mb-20">Heading H2 - 37px</h2>
              <h3 class="mt-0 mb-20">Heading H3 - 31px</h3>
              <h4 class="mt-0 mb-20">Heading H4 - 26px</h4>
              <h5 class="mt-0 mb-20">Heading H5 - 20px</h5>
              <h6 class="mt-0 mb-20">Heading H6 - 16px</h6>
            </div>
          </div>
        </div>
        <!-- ! heading section-->
        <!-- counter blocks-->
        <div class="element-section mb-110">
          <div class="row">
            <div class="col-md-2 col-xs-6 mb-md-30">
              <div class="counter-block"><i class="counter-icon flaticon-suntour-world"></i>
                <div class="counter-name-wrap">
                  <div data-count="345" class="counter">0</div>
                  <div class="counter-name">Tours</div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-xs-6 mb-md-30">
              <div class="counter-block with-divider"><i class="counter-icon flaticon-suntour-fireworks"></i>
                <div class="counter-name-wrap">
                  <div data-count="438" class="counter">0</div>
                  <div class="counter-name">Holidays</div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-xs-6 mb-md-30">
              <div class="counter-block with-divider"><i class="counter-icon flaticon-suntour-hotel"></i>
                <div class="counter-name-wrap">
                  <div data-count="526" class="counter">0</div>
                  <div class="counter-name">Hotels</div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-xs-6 mb-md-30">
              <div class="counter-block with-divider"><i class="counter-icon flaticon-suntour-ship"></i>
                <div class="counter-name-wrap">
                  <div data-count="169" class="counter">0</div>
                  <div class="counter-name">Cruises</div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-xs-6">
              <div class="counter-block with-divider"><i class="counter-icon flaticon-suntour-airplane"></i>
                <div class="counter-name-wrap">
                  <div data-count="293" class="counter">0</div>
                  <div class="counter-name">Flights</div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-xs-6">
              <div class="counter-block with-divider"><i class="counter-icon flaticon-suntour-car"></i>
                <div class="counter-name-wrap">
                  <div data-count="675" class="counter">0</div>
                  <div class="counter-name">Cars</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- counter blocks-->
        <!-- table section-->
        <div class="element-section mb-80">
          <div class="row">
            <div class="col-md-6 mb-md-30">
              <table class="table">
                <thead class="font-4">
                  <tr>
                    <th>Table head 1</th>
                    <th>Table head 2</th>
                    <th>Table head 3</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Nullam</td>
                    <td>Vestibulum</td>
                    <td>Meacenas</td>
                  </tr>
                  <tr>
                    <td>Phasellus</td>
                    <td>Aenea</td>
                    <td>Pellentesque</td>
                  </tr>
                  <tr>
                    <td>Integer</td>
                    <td>Mauris</td>
                    <td>Fermentum</td>
                  </tr>
                  <tr>
                    <td>Curabitur</td>
                    <td>Aliquam</td>
                    <td>Sapien</td>
                  </tr>
                  <tr>
                    <td>Quisque</td>
                    <td>Praesent</td>
                    <td>Faucibus</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-6">
              <table class="table alt">
                <thead class="font-4">
                  <tr>
                    <th>Table head 1</th>
                    <th>Table head 2</th>
                    <th>Table head 3</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Nullam</td>
                    <td>Vestibulum</td>
                    <td>Meacenas</td>
                  </tr>
                  <tr>
                    <td>Phasellus</td>
                    <td>Aenea</td>
                    <td>Pellentesque</td>
                  </tr>
                  <tr>
                    <td>Integer</td>
                    <td>Mauris</td>
                    <td>Fermentum</td>
                  </tr>
                  <tr>
                    <td>Curabitur</td>
                    <td>Aliquam</td>
                    <td>Sapien</td>
                  </tr>
                  <tr>
                    <td>Quisque</td>
                    <td>Praesent</td>
                    <td>Faucibus</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- ! table section-->
        <!-- toggles & accordion section-->
        <div class="element-section mb-80">
          <div class="row">
            <div class="col-md-6 mb-md-30">
              <div class="accordion">
                <div class="content-title active"> <span class="active"><i class="active-icon"></i>Ut ultrices justo quis nulla vulputate iaculis</span></div>
                <div class="content">In mattis ut dui sed viverra. Nam eleifend libero ligula, eget imperdiet neque dapibus id. Integer sit amet dolor vel eros laoreet dignissim. Nullam in mauris turpis. Cras velit risus, mollis et tortor convallis, ornare interdum lorem. Donec pharetra odio luctus, porttitor tortor vel, mattis ante. </div>
                <div class="content-title"> <span><i class="active-icon"></i>Sed volutpat tellus a odio laoreet imperdiet</span></div>
                <div class="content">In mattis ut dui sed viverra. Nam eleifend libero ligula, eget imperdiet neque dapibus id. Integer sit amet dolor vel eros laoreet dignissim. Nullam in mauris turpis. Cras velit risus, mollis et tortor convallis, ornare interdum lorem. Donec pharetra odio luctus, porttitor tortor vel, mattis ante.</div>
                <div class="content-title"> <span><i class="active-icon"></i>Donec at massa eu lacus accumsan semper</span></div>
                <div class="content">In mattis ut dui sed viverra. Nam eleifend libero ligula, eget imperdiet neque dapibus id. Integer sit amet dolor vel eros laoreet dignissim. Nullam in mauris turpis. Cras velit risus, mollis et tortor convallis, ornare interdum lorem. Donec pharetra odio luctus, porttitor tortor vel, mattis ante. </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="toggle style-2">
                <div class="content-title active"> <span class="active"><i class="active-icon"></i>Ut ultrices justo quis nulla vulputate iaculis</span></div>
                <div class="content">In mattis ut dui sed viverra. Nam eleifend libero ligula, eget imperdiet neque dapibus id. Integer sit amet dolor vel eros laoreet dignissim. Nullam in mauris turpis. Cras velit risus, mollis et tortor convallis, ornare interdum lorem. Donec pharetra odio luctus, porttitor tortor vel, mattis ante.</div>
                <div class="content-title"> <span><i class="active-icon"></i>Sed volutpat tellus a odio laoreet imperdiet</span></div>
                <div class="content">In mattis ut dui sed viverra. Nam eleifend libero ligula, eget imperdiet neque dapibus id. Integer sit amet dolor vel eros laoreet dignissim. Nullam in mauris turpis. Cras velit risus, mollis et tortor convallis, ornare interdum lorem. Donec pharetra odio luctus, porttitor tortor vel, mattis ante. </div>
                <div class="content-title"> <span><i class="active-icon"></i>Donec at massa eu lacus accumsan semper</span></div>
                <div class="content">In mattis ut dui sed viverra. Nam eleifend libero ligula, eget imperdiet neque dapibus id. Integer sit amet dolor vel eros laoreet dignissim. Nullam in mauris turpis. Cras velit risus, mollis et tortor convallis, ornare interdum lorem. Donec pharetra odio luctus, porttitor tortor vel, mattis ante. </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ! toggles section-->
        <!-- menu widget section-->
        <div class="element-section mb-80">
          <div class="row">
            <div class="col-md-12">
              <div class="menu-widget with-switch">
                <ul class="magic-line">
                  <li class="current_item"><a href="#">All reviews (67)</a></li>
                  <li><a href="#">Families (23)</a></li>
                  <li><a href="#">Couples (10)</a></li>
                  <li><a href="#">Solo (17)</a></li>
                  <li><a href="#">Business (10)</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- ! menu widget section-->
        <!-- allert messages-->
        <div class="element-section mb-60">
          <div class="row">
            <!-- allert messages-->
            <div class="col-sm-6">
              <div role="alert" class="alert alert-notice alert-dismissible fade in mb-20">
                <button type="button" data-dismiss="alert" aria-label="Close" class="close"></button><i class="alert-icon flaticon-technology"></i>Normal message
              </div>
              <div role="alert" class="alert alert-warning alert-dismissible fade in mb-20">
                <button type="button" data-dismiss="alert" aria-label="Close" class="close"></button><i class="alert-icon flaticon-warning"></i>Warning message
              </div>
              <div role="alert" class="alert alert-info alert-dismissible fade in mb-20">
                <button type="button" data-dismiss="alert" aria-label="Close" class="close"></button><i class="alert-icon flaticon-circle"></i>Information message
              </div>
            </div>
            <!-- ! allert messages-->
            <!-- allert messages-->
            <div class="col-sm-6">
              <div role="alert" class="alert alert-success alert-dismissible fade in mb-20">
                <button type="button" data-dismiss="alert" aria-label="Close" class="close"></button><i class="alert-icon flaticon-suntour-check"></i>Succes message
              </div>
              <div role="alert" class="alert alert-usefull alert-dismissible fade in mb-20">
                <button type="button" data-dismiss="alert" aria-label="Close" class="close"></button><i class="alert-icon flaticon-round"></i>Usefull message
              </div>
              <div role="alert" class="alert alert-default alert-dismissible fade in mb-20">
                <button type="button" data-dismiss="alert" aria-label="Close" class="close"></button><i class="alert-icon flaticon-help"></i>Default message
              </div>
            </div>
            <!-- ! allert messages-->
          </div>
        </div>
        <!-- ! allert messages-->
        <!-- element section -->
        <div class="element-section mb-60">
          <div class="row">
            <div class="col-md-4 mb-md-50">
              <!-- pagination-->
              <nav>
                <ul class="pagination">
                  <li><a href="#" aria-label="Previous"><span class="fa fa-angle-left"></span></a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#" class="active">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">...</a></li>
                  <li><a href="#">9</a></li>
                  <li><a href="#">10</a></li>
                  <li><a href="#">11</a></li>
                  <li><a href="#" aria-label="Next"><span class="fa fa-angle-right"></span></a></li>
                </ul>
              </nav>
              <!-- ! pagination-->
              <!-- progress bars-->
              <div>
                <!-- skill bar item-->
                <div class="skill-bar st-color-1">
                  <div class="name">Aliquam</div>
                  <div class="bar"><span data-value="80" class="cp-bg-color skill-bar-progress"></span></div>
                </div>
                <!-- ! skill bar item-->
                <!-- skill bar item-->
                <div class="skill-bar st-color-2">
                  <div class="name">Maecenas</div>
                  <div class="bar"><span data-value="75" class="cp-bg-color skill-bar-progress"></span></div>
                </div>
                <!-- ! skill bar item-->
                <!-- skill bar item-->
                <div class="skill-bar st-main-color">
                  <div class="name">Vestibulum</div>
                  <div class="bar"><span data-value="70" class="cp-bg-color skill-bar-progress"></span></div>
                </div>
                <!-- ! skill bar item-->
                <!-- skill bar item-->
                <div class="skill-bar st-color-3">
                  <div class="name">Commodo</div>
                  <div class="bar"><span data-value="65" class="cp-bg-color skill-bar-progress"></span></div>
                </div>
                <!-- ! skill bar item-->
                <!-- skill bar item-->
                <div class="skill-bar st-color-4">
                  <div class="name">Maximus</div>
                  <div class="bar"><span data-value="60" class="cp-bg-color skill-bar-progress"></span></div>
                </div>
                <!-- ! skill bar item-->
                <!-- skill bar item-->
                <div class="skill-bar st-main-gray-color">
                  <div class="name">Imperdiet</div>
                  <div class="bar"><span data-value="55" class="cp-bg-color skill-bar-progress"></span></div>
                </div>
                <!-- ! skill bar item-->
              </div>
              <!-- ! progress bars-->
            </div>
            <div class="col-md-8">
              <div class="quote alt-2 clearfix mb-60">
                <p>I am not a great cook, I am not a great artist, but I love art, and I love food, so I am the perfect traveller.</p><span>- Michael Palin</span>
              </div>
              <div class="row">
                <!-- list style 1-->
                <div class="col-md-6">
                  <h6 class="trans-uppercase">Marker 1</h6>
                  <ul class="style-1">
                    <li>Aliquam laoreet dolor vitae eros fermentum;</li>
                    <li>Integer sed enim ut sapien viverra facilisis;</li>
                    <li>Aliquam hendrerit ante quis eros feugiat, in mollis;</li>
                    <li>Aliquam semper sem at nulla tincidunt, vel pulvinar;</li>
                    <li>Nullam elementum dui dictum;</li>
                  </ul>
                </div>
                <!-- list style 2-->
                <div class="col-md-6">
                  <h6 class="trans-uppercase">Marker 2</h6>
                  <ul class="style-2">
                    <li>Aliquam laoreet dolor vitae eros fermentum;</li>
                    <li>Integer sed enim ut sapien viverra facilisis;</li>
                    <li>Aliquam hendrerit ante quis eros feugiat, in mollis;</li>
                    <li>Aliquam semper sem at nulla tincidunt, vel pulvinar;</li>
                    <li>Nullam elementum dui dictum;</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ! element section-->
        <!-- grid section-->
        <div class="element-section">
          <div class="row mb-40">
            <div class="col-md-12">
              <h5 class="mb-20">1/1 Column</h5>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, vivei era quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius lvaoreet. Quisque rutrum, enean imperdiet. Suspendisse eu ligula. Nul la facilisi. Donec id justo. Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum. Curabitur suscipit suscipit tellus. Praesent vestibulum dapibus nibh. Etiam iaculis nunc ac metus. Ut id nisl quis enim dignissim sagittis.
            </div>
          </div>
          <div class="row mb-40">
            <div class="col-md-6 mb-md-30">
              <h5 class="mb-20">1/2 Column </h5>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleif ela end ac, enim. Aliquam lorem ante, dapibus in, vivei era quis, feugiat a, tellus. Phasellus ve viverra nulla ut metus varius lvaoreet. 
            </div>
            <div class="col-md-6">
              <h5 class="mb-20">1/2 Column </h5>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleif ela end ac, enim. Aliquam lorem ante, dapibus in, vivei era quis, feugiat a, tellus. Phasellus ve viverra nulla ut metus varius lvaoreet. 
            </div>
          </div>
          <div class="row mb-40">
            <div class="col-md-4 mb-md-30">
              <h5 class="mb-20">1/3 Column </h5>Aenean vulputate eleifend tellus. Aenean leo ligula, portti tor eu, consequat vitae, eleif ela end ac, enim. Aliquam lo rem ante, dapibus in, vivei era quis, feugiat a, tellus. Pha sellus ve viverra nulla ut metus.
            </div>
            <div class="col-md-4 mb-md-30">
              <h5 class="mb-20">1/3 Column </h5>Aenean vulputate eleifend tellus. Aenean leo ligula, portti tor eu, consequat vitae, eleif ela end ac, enim. Aliquam lo rem ante, dapibus in, vivei era quis, feugiat a, tellus. Pha sellus ve viverra nulla ut metus.
            </div>
            <div class="col-md-4">
              <h5 class="mb-20">1/3 Column </h5>Aenean vulputate eleifend tellus. Aenean leo ligula, portti tor eu, consequat vitae, eleif ela end ac, enim. Aliquam lo rem ante, dapibus in, vivei era quis, feugiat a, tellus. Pha sellus ve viverra nulla ut metus.
            </div>
          </div>
          <div class="row mb-40">
            <div class="col-md-3 mb-md-30">
              <h5 class="mb-20">1/4 Column </h5>Aenean vulputate eleifend tellus. Aenean leo ligula, portti tor eu, consequat vitae, el eif ela end ac, enim. Aliquam lo rem ante, dapibus in, vive.
            </div>
            <div class="col-md-3 mb-md-30">
              <h5 class="mb-20">1/4 Column </h5>Aenean vulputate eleifend tellus. Aenean leo ligula, portti tor eu, consequat vitae, el eif ela end ac, enim. Aliquam lo rem ante, dapibus in, vive.
            </div>
            <div class="col-md-3 mb-md-30">
              <h5 class="mb-20">1/4 Column </h5>Aenean vulputate eleifend tellus. Aenean leo ligula, portti tor eu, consequat vitae, el eif ela end ac, enim. Aliquam lo rem ante, dapibus in, vive.
            </div>
            <div class="col-md-3">
              <h5 class="mb-20">1/4 Column </h5>Aenean vulputate eleifend tellus. Aenean leo ligula, portti tor eu, consequat vitae, el eif ela end ac, enim. Aliquam lo rem ante, dapibus in, vive.
            </div>
          </div>
          <div class="row mb-40">
            <div class="col-md-2 mb-md-30">
              <h5 class="mb-20">1/6 Column </h5>Aenean vulputate eleifend tellus. Aenean leo ligula, portti tor eu, consequat vitae, el eif ela end ac, enim. Aliquam lo rem ante, dapibus.
            </div>
            <div class="col-md-2 mb-md-30">
              <h5 class="mb-20">1/6 Column </h5>Aenean vulputate eleifend tellus. Aenean leo ligula, portti tor eu, consequat vitae, el eif ela end ac, enim. Aliquam lo rem ante, dapibus.
            </div>
            <div class="col-md-2 mb-md-30">
              <h5 class="mb-20">1/6 Column </h5>Aenean vulputate eleifend tellus. Aenean leo ligula, portti tor eu, consequat vitae, el eif ela end ac, enim. Aliquam lo rem ante, dapibus.
            </div>
            <div class="col-md-2 mb-md-30">
              <h5 class="mb-20">1/6 Column </h5>Aenean vulputate eleifend tellus. Aenean leo ligula, portti tor eu, consequat vitae, el eif ela end ac, enim. Aliquam lo rem ante, dapibus.
            </div>
            <div class="col-md-2 mb-md-30">
              <h5 class="mb-20">1/6 Column </h5>Aenean vulputate eleifend tellus. Aenean leo ligula, portti tor eu, consequat vitae, el eif ela end ac, enim. Aliquam lo rem ante, dapibus.
            </div>
            <div class="col-md-2">
              <h5 class="mb-20">1/6 Column </h5>Aenean vulputate eleifend tellus. Aenean leo ligula, portti tor eu, consequat vitae, el eif ela end ac, enim. Aliquam lo rem ante, dapibus.
            </div>
          </div>
          <div class="row mb-40">
            <div class="col-md-2 mb-md-30">
              <h5 class="mb-20">1/6 Column </h5>Aenean vulputate eleifend tellus. Aenean leo ligula, portti tor eu, consequat vitae, el eif ela end ac, enim. Aliquam lo.
            </div>
            <div class="col-md-10">
              <h5 class="mb-20">5/6 Column </h5>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, vivei era quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius lvaoreet. Quisque rutrum, enean imperdiet. Suspendisse eu ligula. Nul la facilisi. Donec id justo. Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum. Curabitur suscipit suscipit tellus. Praesent vestibulum dapibus nibh. Etiam iaculis nunc ac metus. Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum. Curabitur suscipit suscipit tellus. Praesent vestibulum dapibus nibh. Etiam iaculis nunc ac metus.	
            </div>
          </div>
          <div class="row mb-40">
            <div class="col-md-3 mb-md-30">
              <h5 class="mb-20">1/4 Column </h5>Aenean vulputate eleifend tellus. Aenean leo ligula, portti tor eu, consequat vitae, el eif ela end ac, enim. Aliquam lo rem ante, dapibus in, vive.
            </div>
            <div class="col-md-9">
              <h5 class="mb-20">3/4 Column </h5>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, vivei era quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius lvaoreet. Quisque rutrum, enean imperdiet. Suspendisse eu ligula. Nul la facilisi. Donec id justo. Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignissim dolor, a pretium mi sem ut ipsum. Curabitur suscipit suscipit tellus. Praesent vestibulum dapibus nibh. Etiam iaculis nunc ac metus.
            </div>
          </div>
          <div class="row mb-40">
            <div class="col-md-4 mb-md-30">
              <h5 class="mb-20">1/3 Column </h5>Aenean vulputate eleifend tellus. Aenean leo ligula, portti tor eu, consequat vitae, eleif ela end ac, enim. Aliquam lo rem ante, dapibus in, vivei era quis, feugiat a, tellus. Pha sellus ve viverra nulla ut metus.
            </div>
            <div class="col-md-8">
              <h5 class="mb-20">2/3 Column </h5>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, vivei era quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius lvaoreet. Quisque rutrum, enean impe rdiet. Suspendisse eu ligula. Nul la facilisi. Donec id justo. Praesent porttitor, nulla vitae posuere iaculis, arcu nisl dignis sim dolor, a pretium mi sem ut ipsum. Curabitur suscipit suscipit tellus.
            </div>
          </div>
        </div>
        <!-- ! grid section-->
      </div>
    </div>
   {% endblock %}
