{% extends "base/base.jinja2" %}

{% block content %}

    <div class="content-body">
      <!-- section features-->
      <section class="page-section pb-70">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h6 class="title-section-top font-4">We are</h6>
              <h2 class="title-section"><span>Regal Tours & Travel LTD</span></h2>
              <div class="cws_divider mb-25 mt-5"></div>
              <p>Vestibulum feugiat vitae tortor ut venenatis. Sed cursus, purus eu euismod bibendum, diam nisl suscipit odio, vitae ultrices mauris dolor quis mauris. Curabitur ac metus id leo maximus porta.</p>
            </div>
          </div>
          <div class="row">
            <!-- service item-->
            <div class="col-sm-4 mb-40">
              <div class="service-item icon-right color-icon"><i class="flaticon-suntour-world cws-icon type-1 color-2"></i>
                <h3>Fully Responsive</h3>
                <p class="mb-0">
                    Our website is fully responsive enabling clients to have an end-to-end seamless booking experience.
                    Clients can query, book, pay and receive their tickets from the comfort of their devices.
                </p>
              </div>
            </div>
            <!-- service item-->
            <!-- ! service item-->
            <div class="col-sm-4 mb-40">
              <div class="service-item icon-right color-icon"><i class="flaticon-suntour-fireworks cws-icon type-1 color-2"></i>
                <h3>Awesome option</h3>
                <p class="mb-0">
                      Our customer can get multiple options for deals.                </p>
              </div>
            </div>
            <!-- service item-->
            <!-- ! service item-->
            <div class="col-sm-4 mb-40">
              <div class="service-item icon-right color-icon"><i class="flaticon-suntour-hotel cws-icon type-1 color-2"></i>
                <h3>Great Support</h3>
                <p class="mb-0">
                      Our customer support team is available 24/7 on email and phone to respond to clients’ queries.                </p>
                </p>
              </div>
            </div>


          </div>
        </div>
      </section>
      <!-- ! section features-->
      <!-- counter section -->
      <section class="small-section cws_prlx_section bg-gray-60"><img src="pic/parallax-1.jpg" alt class="cws_prlx_layer">
        <div class="container">
          <div class="row">
            <div class="col-md-2 col-xs-6 mb-md-30">
              <div class="counter-block white"><i class="counter-icon flaticon-suntour-world"></i>
                <div class="counter-name-wrap">
                  <div data-count="345" class="counter">0</div>
                  <div class="counter-name">Tours</div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-xs-6 mb-md-30">
              <div class="counter-block with-divider white"><i class="counter-icon flaticon-suntour-fireworks"></i>
                <div class="counter-name-wrap">
                  <div data-count="438" class="counter">0</div>
                  <div class="counter-name">Holidays</div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-xs-6 mb-md-30">
              <div class="counter-block with-divider white"><i class="counter-icon flaticon-suntour-hotel"></i>
                <div class="counter-name-wrap">
                  <div data-count="526" class="counter">0</div>
                  <div class="counter-name">Hotels</div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-xs-6 mb-md-30">
              <div class="counter-block with-divider white"><i class="counter-icon flaticon-suntour-ship"></i>
                <div class="counter-name-wrap">
                  <div data-count="169" class="counter">0</div>
                  <div class="counter-name">Cruises</div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-xs-6">
              <div class="counter-block with-divider white"><i class="counter-icon flaticon-suntour-airplane"></i>
                <div class="counter-name-wrap">
                  <div data-count="293" class="counter">0</div>
                  <div class="counter-name">Flights</div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-xs-6">
              <div class="counter-block with-divider white"><i class="counter-icon flaticon-suntour-car"></i>
                <div class="counter-name-wrap">
                  <div data-count="675" class="counter">0</div>
                  <div class="counter-name">Cars</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ! counter section-->
      <!-- page section about-->
      <section class="page-section">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mb-md-50"><img src="pic/promo-2.jpg" alt class="mt-minus-100"></div>
            <div class="col-md-6">
              <!-- section title-->
              <h2 class="title-section mt-0 mb-0">About us</h2>
              <!-- ! section title-->
              <div class="cws_divider with-plus short-3 mb-20 mt-10"></div>
              <p class="mb-50">
                We are an IATA accredited renowned Tours and Travel company that specializes in air travel and all
                other related tours and travel related products &amp; services. We understand the importance of making
                your travel arrangements stress-free and at an affordable price. Our products include but are not
                limited to air tickets, VISA processing, Travel Insurance, Hotel booking, Airbnb booking, Airport
                transfers, Travel accessories and merchandise. We serve individual, corporate clients, parastatals,
                Govt bodies, Schools, Churches and Other institutions. Our price range caters for budget and luxury
                clients. Our website stands out and offers a ``one stop shop`` to its deserving guests, with a wide
                variety of products &amp; services that are cater to a today’s global traveler.
              </p>

              <!-- ! accordion--><a href="#" class="cws-button alt">Contact Us</a><a href="#" class="cws-button alt gray-dark">Online support</a>
            </div>
          </div>
        </div>
        <!-- list-->
      </section>
      <!-- ! page section about-->
      <!-- page services-->
      <section class="page-section cws_prlx_section pb-100 bg-gray-60"><img src="pic/parallax-5.jpg" alt class="cws_prlx_layer">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h2 class="title-section alt"><span>Our</span> Services</h2>
              <div class="cws_divider mb-25 mt-5"></div>
              <p class="color-white">Vestibulum feugiat vitae tortor ut venenatis. Sed cursus, purus eu euismod bibendum, diam nisl suscipit odio, vitae ultrices mauris dolor quis mauris. Curabitur ac metus id leo maximus porta. </p>
            </div>
          </div>
          <div class="row">
            <!-- service item-->
            <div class="col-md-4 col-sm-6 mb-40">
              <div class="service-item icon-center color-icon border"><i class="flaticon-suntour-world cws-icon type-1 color-2"></i>
                <h3>Global Locations</h3>
                <p class="mb-0">Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales. </p>
              </div>
            </div>
            <!-- service item-->
            <!-- ! service item-->
            <div class="col-md-4 col-sm-6 mb-40">
              <div class="service-item icon-center color-icon border"><i class="flaticon-suntour-fireworks cws-icon type-1 color-2"></i>
                <h3>Entertainment</h3>
                <p class="mb-0">Cras dapibus, vamus elementum semper nisi. Aenean vulputate eleifend tellus. </p>
              </div>
            </div>
            <!-- service item-->
            <!-- ! service item-->
            <div class="col-md-4 col-sm-6 mb-40">
              <div class="service-item icon-center color-icon border"><i class="flaticon-suntour-hotel cws-icon type-1 color-2"></i>
                <h3>Info & Guides</h3>
                <p class="mb-0">In enim justo, rhoncus ut, imperdiet a, venenatis doesi aer vitae, justo.    </p>
              </div>
            </div>
            <!-- ! service item-->
            <!-- service item-->
            <div class="col-md-4 col-sm-6 mb-40">
              <div class="service-item icon-center color-icon border"><i class="flaticon-suntour-ship cws-icon type-1 color-2"></i>
                <h3>Ship Tickets</h3>
                <p class="mb-0">Cum sociis natoque penatibus et magnis dis partu rien montes, nascetur ridiculus.   </p>
              </div>
            </div>
            <!-- service item-->
            <!-- ! service item-->
            <div class="col-md-4 col-sm-6 mb-40">
              <div class="service-item icon-center color-icon border"><i class="flaticon-suntour-airplane cws-icon type-1 color-2"></i>
                <h3>Flight Tickets</h3>
                <p class="mb-0">Fusce commodo aliquam arcu. Nam commodo suscipit quam. Quisque id odio. </p>
              </div>
            </div>
            <!-- service item-->
            <!-- ! service item-->
            <div class="col-md-4 col-sm-6">
              <div class="service-item icon-center color-icon border"><i class="flaticon-suntour-car cws-icon type-1 color-2"></i>
                <h3>Car Tickets</h3>
                <p class="mb-0">Praesent ac sem eget est egestas volutpat. Vivamus consectetuer hendrerit.   </p>
              </div>
            </div>
            <!-- ! service item-->
          </div>
        </div>
      </section>
      <!-- ! page services-->
      <!-- call out section-->
      <section class="page-section pt-90 pb-80 bg-main pattern relative">
        <div class="container">
          <div class="call-out-box clearfix with-icon">
            <div class="row call-out-wrap">
              <div class="col-md-5">
                <h6 class="title-section-top gray font-4">subscribe today</h6>
                <h2 class="title-section alt-2"><span>Get</span> Latest offers</h2><i class="flaticon-suntour-email call-out-icon"></i>
              </div>
              <div class="col-md-7">
                <form action="php/contacts-process.php" method="post" class="form contact-form mt-10">
                  <div class="input-container">
                    <input type="text" placeholder="Enter your email" value="" name="email" class="newsletter-field mb-0 form-row"><i class="flaticon-suntour-email icon-left"></i>
                    <button type="submit" class="subscribe-submit"><i class="flaticon-suntour-arrow icon-right"></i></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ! call out section-->
      <!-- page contact-->
      <div class="container page">
        <div class="row">
          <div class="col-md-8">
            <h2 class="title-section"><span>Get</span> In touch</h2>
            <div class="cws_divider mb-25 mt-5"></div>
            <p>Vestibulum feugiat vitae tortor ut venenatis. Sed cursus, purus eu euismod bibendum, diam nisl suscipit odio, vitae ultrices mauris dolor quis mauris. Curabitur ac metus id leo maximus porta. </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-md-30">
            <div class="add-comment pattern bg-gray-3 relative">
              <div class="widget-contact-form pb-0">
                <!-- contact-form-->
                <div id="feedback-form-errors" role="alert" class="alert alert-danger alt alert-dismissible fade in">
                  <button type="button" data-dismiss="alert" aria-label="Close" class="close"></button><i class="alert-icon border fa fa-exclamation-triangle"></i><strong>Error Message!</strong><br>
                  <div class="message"></div>
                </div>
                <div class="email_server_responce"></div>
                <form action="php/contacts-process.php" method="post" class="form contact-form alt clearfix">
                  <div class="row">
                    <div class="col-md-6">
                      <input type="text" name="name" value="" size="40" placeholder="Name" aria-invalid="false" aria-required="true" class="form-row form-row-first">
                    </div>
                    <div class="col-md-6">
                      <input type="text" name="email" value="" size="40" placeholder="Email" aria-required="true" class="form-row form-row-last">
                    </div>
                  </div>
                  <textarea name="message" cols="40" rows="4" placeholder="Comment" aria-invalid="false" aria-required="true"></textarea>
                  <input type="submit" value="Submit now" class="cws-button alt">
                </form>
                <!-- ! contact-form-->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="map-wrapper alt-h">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25295.930156304785!2d16.371063311644324!3d48.208404844730474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d07986fcad78b%3A0x73f5a4d267cc4174!2zTmFnbGVyZ2Fzc2UgMTAsIDEwMTAgV2llbiwg0JDQstGB0YLRgNC40Y8!5e0!3m2!1sru!2sua!4v1453294615596" allowfullscreen=""></iframe>
            </div>
          </div>
        </div>
      </div>
      <!-- ! page contact-->
    </div>
{% endblock %}
